.idea/*
Binaries/*
Build/*
DerivedDataCache/*
Intermediate/*
Saved/*

*.sln
*.xcworkspace

.DS_Store

# Assets
/Content/MSPresets/*
/Content/Megascans/*
/Content/Pistol_Basic/*
/Content/Polygon-City_Megapolis/*
/Content/Polygon_WeaponsKit/*

