.idea/*
Binaries/*
Build/*
DerivedDataCache/*
Intermediate/*
Saved/*

*.sln
*.xcworkspace

.DS_Store

# Assets
/Content/MSPresets/*
/Content/Mega_Survival_Tools/*
/Content/Megascans/*
/Content/Pistol_Basic/*
/Content/Polygon-City_Megapolis/*
/Content/Polygon-MegaSurvivalKit/*
/Content/Polygon-NewYork/*
/Content/Polygon-TownCity/*
/Content/Polygon_WeaponsKit/*
/Content/Sci_Fi_Guns_Sounds/*

