.idea/*
Binaries/*
Build/*
DerivedDataCache/*
Intermediate/*
Saved/*

*.sln
*.xcworkspace

.DS_Store

# Assets
/Content/AnimStarterPack/*
/Content/Assets/*
/Content/MSPresets/*
/Content/Mega_Survival_Tools/*
/Content/Megascans/*
/Content/Mobility/*
/Content/Ninja_Basic/*
/Content/Pistol_Basic/*
/Content/Polygon-City_Megapolis/*
/Content/Polygon-MegaSurvivalKit/*
/Content/Polygon-NewYork/*
/Content/Polygon-TownCity/*
/Content/Polygon_WeaponsKit/*
/Content/ProSoundCollection_v1_3/
/Content/ProSoundCollection_v1_3_MONO/
/Content/Rifle_01/*
/Content/Sci_Fi_Guns_Sounds/*
/Content/Prototype/MannequinArms/Sequences/*
/Content/Prototype/YBot/Sequences/*
/Content/Prototype/SFX/*
/Content/VFX_SciFi_Muzzle_And_Impact_Pack_1/*

